---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
import Container from "../sections/Container.astro";
---

<Layout title="Time master">
  <main class="text-white">
    <Header />
    <Container />
  </main>
</Layout>
