---
interface Props {
  title: string;
  id: String;
}

const { title, id } = Astro.props;
---

<textfield class="" id={id}>
  <p class="text-sm">{title}</p>
  <input class="time w-[50px] sm:w-[100px]" maxlength="2" />
</textfield>

<style>
  .time {
    letter-spacing: 0.05em;
    text-shadow:
      0 0 20px rgba(10, 175, 230, 1),
      0 0 20px rgba(10, 175, 230, 0);
    padding: 5px 0;
    border: none;
    background: none;
    color: inherit;
  }
</style>
