---
import { Icon } from "astro-icon/components";
console.log("Javascript");
---

<footer class="text-white bg-[#000] py-8 px-9 text-center">
  <div class="flex sm:flex-row sm:items-end items-center flex-col">
    <div class="bg-white sm:h-[1px] h-0 w-full"></div>
    <ul class="flex xs:flex-row mx-5">
      <li class="mx-3">
        <a href="https://github.com/obed-tc">
          <Icon name="github" class="text-4xl" />
        </a>
      </li>
      <li class="mx-3">
        <a href="https://www.instagram.com/obed717">
          <Icon name="instagram" class="text-4xl" />
        </a>
      </li>
      <li class="mx-3">
        <a href="https://twitter.com/ObedCT_">
          <Icon name="twitter" class="text-4xl" />
        </a>
      </li>
      <li class="mx-3">
        <a href="https://discord.com/invite/CVYArP4T">
          <Icon name="discord" class="text-4xl" />
        </a>
      </li>
    </ul>
    <div class="bg-white sm:h-[1px] h-0 w-full"></div>
  </div>
  <div class="mt-10">Time master</div>
  <p class="text-gray-300 text-xs">Copyright @ 2024 TimeMaster, Inc</p>

  <div class="flex flex-row justify-center my-5">
    <a>Información legal</a>
    <div class="bg-white w-[1px] mx-4"></div>
    <a>Politica de privacidad</a>
  </div>
</footer>
