---
console.log("Javascript");
---

<header class="py-4 px-4 mx-auto max-w-xl lg:py-3 ld:px-6 text-center">
  <h1 class="text-3xl my-5">
    Calculadora del <span class="font-bold">tiempo</span>
  </h1>
  <p class="font-light text-gray-300">
    Calculadora del tiempo en JavaScript para realizar cálculos de horas,
    minutos y segundos. ¡Simplifica tus cálculos temporales!
  </p>
</header>
